<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.angelo.karma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ProfileEditActivity"
            android:theme="@style/SignupActivity"
            android:parentActivityName=".activity.ProfileActivity">
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".activity.AboutLinksActivity"
            android:label="Links"
            android:parentActivityName=".activity.AboutActivity"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar">

        </activity>

        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angelo.karma.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.SignupActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/LogInInput" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CommentsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignupDetailsActivity"
            android:theme="@style/SignupActivity" />
        <activity
            android:name=".AddPostActivity"
            android:theme="@style/LogInInput" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/LogInInput" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>